.footerContainer {
  padding: 1rem;
  background-color: black;
  color: white;
  font-family: serif;
  text-align: center;
  border-radius: 0.5rem;
}

.footerText {
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .footerText {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .footerText {
    font-size: 1.125rem;
  }
}
