.heroContainer {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

@media (min-width: 640px) {
  .heroContainer {
    flex-direction: row;
    margin-top: 8rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.heroText {
  color: black;
  margin-top: 50px;
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 2.25rem;
  margin-left: 90px;
  text-align: center;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.heroText:hover {
  background-color: #e0f7fa;
  border-radius: 0.375rem;
}

.heroSubText {
  color: #10b981;
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 1.75rem;
  margin-top: 0px;
  text-align: center;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  margin-left: 90px;
  margin-bottom: 0px;
}

.heroSubText:hover {
  background-color: #e0f7fa;
  border-radius: 0.375rem;
}

.heroDescription {
  margin-top: 0px;
  margin-bottom: 1.25rem;
  padding: 50px;
  font-size: 1rem;
  font-family: "Georgia", serif;

  border-radius: 0.375rem;
  text-align: center;
  width: 80%;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.heroDescription:hover {
  background-color: #e0f7fa;
  border-radius: 0.375rem;
}

.heroButtonContainer {
  display: flex;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-bottom: 50px;
}

.heroButton,
.heroButtonTalk {
  padding: 0.75rem 1.5rem;
  background-color: #34d399;
  color: white;
  border-radius: 0.375rem;
  font-family: "Georgia", serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-align: center;
}

.heroButton:hover,
.heroButtonTalk:hover {
  background-color: #38bdf8;
}

.heroButtonTalk {
  background-color: #34d399;
}

.heroButtonTalk:hover {
  background-color: #38bdf8;
}

.heroImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  margin-top: -20px;
}

@media (min-width: 640px) {
  .heroText,
  .heroSubText {
    font-size: 3.75rem;
  }

  .heroDescription {
    font-size: 1.25rem;
    width: 60%;
  }
}
